body {
    margin: 0;
}

#counter {
    position: absolute;
    top: 2rem;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;

    color: white;
    font-family: 'Zen Dots', cursive;
}
#crosshair {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}